@use "reset";
@use "variables" as v;
@use "mixin" as m;

body {
    background-image: url(/img/fond-campagne.jpg);
    background-size: 100%;
    color: white;
    height: 100%;

    div {
        display: flex;
        width: 70%;
        margin: auto;
        margin-top: 10rem;

        div {
            display: flex;
            flex-direction: column;
            text-shadow: black 1px 0 10px;
            padding-top: 4rem;

            .Ligne1 {
                font-weight: 300;
            }

            .Ligne2 {
                font-weight: 750;
            }

            h1 {
                margin: 0;
                font-size: 5rem;
            }

            p {
                font-size: large;
                margin-top: 4rem;
                margin-bottom: 4rem;
            }

            button {
                @include m.button(white, #876f4d, 1rem)
            }
        }
    }
}